<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="column center">
      <h1>Video Analysis</h1>
      <%= video_tag(@output, controls: true, autoplay: true, loop: true, type: "video/webm", width: "50%") %>
    </div>
    <div class="column center">
      <h1>Data</h1>
      <a class="download_btn" href="<%= @data_download %>" download="physics_data.json"><i class="fa fa-download" aria-hidden="true"></i></a>
      <table><thead><th>Time (s)</th><th>X (<%= @units %>)</th><th>Y (<%= @units %>)</th></thead></table>
      <div class="table-container"><table>
	<tbody>
	  <% @data.each do |datum| %>
	  <tr>
	    <td><%= datum["t"].to_f.round(4) %></td>
	    <td><%= datum["x"].to_f.round(4) %></td>
	    <td><%= datum["y"].to_f.round(4) %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table></div>
    </div>
  </body>
</html>
