<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <%= link_to "Start Over", root_path %>
    <h1>Analysis</h1>
    <p>Units are <%= @units %></p>
    <%= video_tag(@output, controls: true, autoplay: true, loop: true, type: "video/webm", height: "500", width: "250") %><br/>
    <button id="toggledebug">Debug Info</button>
    <div id="debug" style="display: none;">
      <h1>Debug Info</h1>
      Conversion to MOV:
      <ul>
	<li>STDOUT: <%= @vo1 %></li>
	<li>STDERR: <%= @ve1 %></li>
	<li>STATUS CODE: <%= @vs1 %></li>
      </ul>
      Output from OpenCV:
      <ul>
	<li>STDOUT: <%= @po %></li>
	<li>STDERR: <%= @pe %></li>
	<li>STATUS CODE: <%= @ps %></li>
      </ul>
      Conversion to WEBM:
      <ul>
	<li>STDOUT: <%= @vo %></li>
	<li>STDERR: <%= @ve %></li>
	<li>STATUS CODE: <%= @vs %></li>
      </ul>
    </div>
  </body>
</html>
