<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
   	        <% if flash[:error] %> <div class="flash-error"><%= flash[:error].html_safe %></div><% end %>
	        <h1 class="center">1</h1>
		<p class="center"><em>Hey there, upload a video below.<br/>Then press <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> and we'll get started!</em></p>	
		<%= form_tag "/click", method: 'post', multipart: true, class: 'center' do %>
    			<%= file_field_tag 'video', class: 'yellow_button' %>
  			<%= button_tag(type: "submit", id: "upload-next", class: "next") do %>
			    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
			<% end %>
		<% end %>
		<br/>
		<h2 class="center">- Tips -</h2>
		<div class="center">
		  <div class="tip">
		    <%= image_tag "solid_colors.png" %>
		    <h3>Solid Colors</h3>
		  </div>
		  <div class="tip">
		    <%= image_tag "contrast.png" %>
		    <h3>Contrast</h3>
		  </div>
		  <div class="tip">
		    <%= image_tag "in_frame.png" %>
		    <h3>Keep Object in View</h3>
		  </div>
		  <div class="tip">
		    <%= image_tag "dont_move.png" %>
		    <h3>Don't Move</h3>
		  </div>
		</div>
		</ol>
	</body>
</html>
